body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: lime;
    background: url("https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80");

}